// grand
$black: #000000;
$blackl: #101010; 
$white: #fbfbfb;
$grayl: #888888;
$grayb : #333333;
// accent
$cyan: #68F1B7;
$green: #00FF85;
$red: #FF2E00;
$blue: #0094FF;
// fz mobile
$fzhugem: 48px;
$fzbigm: 24px;
$fzmedm: 20px;
$fzregm: 16px;
$fzsmolm: 14px;
// fz desktop
$fzhuged: 64px;
$fzbigd: 32px;
$fzmedd: 20px;
$fzregd: 16px;
$fzsmold: 14px;
// gaps
$gaphuge: 82px;
$gapreg: 18px;
$gapmed: 12px;
$gapsmol: 6px;
// border-radius
$brreg: 8px;
$brbig: 30px;